# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Folder
Binaries/
Intermediates/

# Build
Engine.lib